<% provide(:title, "About") %>

<h1>About</h1>
<h4>
  Author: <a href="http://yimengl.github.io/">Yimeng Li</a>
</h4>
<hr>
<h3>
  How to use it
</h3>
<h4>Demo</h4>
<iframe width="420" height="315" src="http://www.youtube.com/embed/Bq8ZvWkDK0c" frameborder="0" allowfullscreen>
</iframe>
<hr>
<h4>Functionality</h4>
<ul>
  <li>Register, then your will receive Email</li>
  <li>Log in/Log out</li>
  <li>user can only register as an normal user, I can change him/her as an admin user</li>
  <li><b>Admin     email: example@example.com, password: foobar</b></li>
  <li>Admin user can post new movies, delete users</li>
  <li>logged_in users can check the user list and other user's profile</li>
  <li>logged_in users can review the movie, edit/delete review</li>
  <li>user can view the average scores of all the movies, whether he/she is logged_in or not</li>
  <li>users can search movie name</li>
</ul>
<h3>
  Didn't finish or Need Improve
</h3>
<ul>
  <li>When posting a movie without any image, everything is OK, however, it occasionally has <b>bugs</b> when posting with a picture</li>
  <li>Didn't finish OAuth</li>
  <li>The UI is not good</li>
  <li>code needs refactoring</li>
</ul>