<% provide(:title, 'All movies') %>

<h1>All movies</h1>

<%= will_paginate %>

<ul class="items">
  <% @movies.each do |movie| %>
    <li class="item">
        <%= link_to movie.name, movie %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>