@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


ul.items {
	list-style-type: none;
	padding: 0px;
	margin: 16px 0px 0px 0px;
	border-top: 1px solid #e0e0e0;
}

ul.items li.item {
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
}

ul.items li.item:hover {
	background-color: #f0f0f0;
}

div.item-name {
	font-weight: bold;
}

div.search {
	padding: 0px;
	margin: 16px 0px 0px 0px;
	border-top: 1px solid #e0e0e0;
}

textarea {
  resize: vertical;
}

/* form */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

img {
  max-width:100%
}

form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin:0.1em 0.5em 0.5em 0;
  display: inline-block;
}
